*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

h2{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    padding: 100px 250px;
}

.menu{
    padding: 0 250px;
}

.menu__btn{
    display: none;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border-bottom: 1px solid #828282;
}

.menu__list-item{
    font-family: Gilroy-Bold;
    color: #828282
}

.menu__list-item:hover{
    color: #070707;
    transition: all .5s;
}

.menu-language{
    display: none;
}

.home{
    margin-bottom: 105px;
}

.home .container{
    padding: 0 250px;
}

.home__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.home-title{
    font-family: Gilroy-Bold;
    font-size: 48px;
    line-height: 59px;
    padding-top: 40px;
}

.home-text{
    padding-top: 95px;
}

.home-language{
    padding-top: 67px;
}

.home__slider{
    width: 100%;
}

.home__slider-adopt{
    width: 100%;
    display: none;
}

.about{
    text-align: center;
    background-color: #F6F6F6;
}

.about-title{
 margin-bottom: 18px;
}

.skills__info{
    text-align: center;
    margin-bottom: 84px;
}

.skills-title{
    margin-bottom: 70px;
}

.skills__slider-item{
    text-align: center;
}

.skills__slider-item--img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.skills__slider-item--text{
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 24px;
}

.skills__slider-item--rate{
    margin-left: auto;
    margin-right: auto;
}

.portfolio{
    text-align: center;
    background-color: #F6F6F6;
}

.portfolio__item-img{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 44px;
}

.portfolio__item-link{
    text-decoration-line: underline;
    color: #070707;
}

.contacts{
    text-align: center;
}

.contacts__title{
    margin-bottom: 20px;
}

.contacts__btn{
    margin-top: 30px;
    cursor: pointer;
    font-family: Gilroy-Bold;
    font-size: 18px;
    color: #FFF;
    background-color: black;
    padding: 13px 28px;
    /* height: 42px;
    width: 181px; */
    border: none;
    border-radius: 25px;
    margin-bottom: 86px;
}

.contacts__links{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.contacts-link{
    margin: 0 30px;
}

.contacts-text{
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

@media(max-width: 1300px)
{
    .container,
    .home .container{
        padding: 100px 10px;
    }

    .menu{
        padding: 0 10px;
    }
}

@media(max-width: 600px){
    .container{
        padding: 80px 29px 70px;
    }

    .menu{
        position: relative;
    }

    .menu__btn{
        display: block;
        width: 33px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 68px;
    }

    
    .menu__btn span{
        display: block;
        margin-bottom: 4px;
        background-color: #070707;
        height: 4px;
    }

    .menu__inner{
        display: none;
        padding: 68px 0 0;
        /* text-align: center; */
        height: 100vh;
    }

    .menu__list{
        padding: 0;
        display: block;
        border-bottom: none;
        margin-bottom: 82px;
    }

    .menu__list-item{
        display: block;
        margin-bottom: 68px;
    }

    .menu-language{
        display: block;
        margin-left: auto;
    }

    .home{
        margin-bottom: 83px;
    }

    .home .container{
        padding: 0 29px;
        /* height: 100vh; */
    }

    .home__info{
        display: block;
    }

    .home-text{
        padding-top: 23px;
    }

    .home-language{
        display: none;
    }

    .home__slider{
        display: none;
    }

    .home__slider-adopt{
        display: block;
    }

    .skills-title{
        margin-bottom: 50px;
    }

    .skills__info{
        margin-bottom: 70px;
    }

    .skills__slider-item{
        margin: 40px;
    }

    .portfolio__item-img{
        margin-top: 77px;
        margin-bottom: 35px;
    }

    .contacts__btn{
        padding: 13px 100px;
        white-space: nowrap;
        margin-bottom: 48px;
    }
}

@media(max-width: 360px){
    .contacts__btn{
        padding: 13px 65px;
    }

    .contacts__links{
        justify-content: space-around;
    }
    
    .contacts-link{
        margin: 0 10px;
    }
}






@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}